.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.bgv {
  /* background: url(http://aryamarketresearch.com/images/inner/service-4.png); */
  background-color:whitesmoke;
  position: 'absolute'
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
